.topbar h1{
    font-family: sans-serif;
    font-size: 100px;
    display: inline-block;
    text-align: left;
    color:crimson;
    margin-bottom: auto;
    margin-top: auto;
    min-width: fit-content;
    -o-animation: fadein 1s ease;
    -moz-animation: fadein 1s ease;
    -webkit-animation: fadein 1s ease;
}


@-o-keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-moz-keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-webkit-keyframes fadein{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.topbar{
    background-color: aquamarine;
    border: solid 2px;
}
nav li{
    border: solid 1px;
    border-radius: 8px;
    padding: 5px;
    list-style: inside;
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    display: inline-block;
    list-style: lower-greek;
    padding-left: 20px;
}
nav a:link{
    outline: none;
    color: black;
    text-decoration: none;
}
nav a:visited{
    outline: none;
    color: black;
    text-decoration: none;
}
nav a:hover{
    outline: none;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    background-color: lightgray;
    border-radius: 5px;  
}


table{
    font-size: 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: fit-content;
    border-collapse: collapse;
    border-color: black;
}
table td{
    padding:5px;
    width:200px;
    text-align: center;
}
table th{
    background-color: aquamarine;
    height: 50px;
    width: 150px;
}


#History{
background-color: #E27D60;
color:black;
font-family: poppins;
}
#Biology{
background-color: #85DC;
color: black;
font-family: poppins;
}
#English{
background-color: #E8A87C;
font-family: poppins;
}
#Maths{
background-color: #C38D9E;
color:black;
font-family: poppins;
}
#IT{
background-color: #41B3A3;
font-family: poppins;
color:black;
}
#Business{
background-color: #F64C72;
font-family: poppins;
color:black;
}
#Posf{
    background-color: #f6d8ab;
}

.classdetails{
    opacity: 0;
    display: block;
    position: absolute;
    transition: 0.5s ease;
    color:white;
}
#Posf:hover > .classdetails{
    opacity: 1;
    display: block;
    position: absolute;
    background-color: black;
    border: solid 1px;
    border-radius: 8px; 
}
#Biology:hover > .classdetails{
    opacity: 1;
    display: block;
    position: absolute;
    background-color: black;
    border: solid 1px;
    border-radius: 8px; 
}
#History:hover > .classdetails{
    opacity: 1;
    display: block;
    position: absolute;
    background-color: black;
    border: solid 1px;
    border-radius: 8px;
    }
#English:hover > .classdetails{
    opacity: 1;
    color:white;
    display: block;
    position: absolute;
    background-color: black;
    border: solid 1px;
    border-radius: 8px;
}
#Maths:hover > .classdetails{
    opacity: 1;
    display: block;
    position: absolute;
    background-color: black;
    border: solid 1px;
    border-radius: 8px;
}
#IT:hover > .classdetails{
    opacity: 1;
    display: block;
    position: absolute;
    background-color: black;
    border: solid 1px;
    border-radius: 8px;
}
#Business:hover > .classdetails{
    opacity: 1;
    display: block;
    position: absolute;
    background-color: black;
    border: solid 1px;
    border-radius: 8px;
}


.listofclasses{
    border: solid 2px;
}

@media screen and (max-width: 600px) 
{
    .topbar h1{
        font-family: sans-serif;
        font-size: 50px;
        display: inline-block;
        text-align: left;
        color:crimson;
        text-decoration: underline crimson;
        margin-bottom: auto;
        margin-top: auto;
        min-width: fit-content;
       
    }
    
    .topbar{
        text-align: center;
        margin-top: 10px;
        display: block;
        border: solid 2px;
        background-color: aquamarine;
        width: min-content;
    
    }
    .topbar h1{
        padding:10px;
    }
    .listofclasses{
        display: inline;
        border: 0px;
        text-align: left;
    }
    .listofclasses ul{
        display: inline;
        text-align: left;
    }
    nav{
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        list-style: lower-greek;
        padding-left: 20px;
    
    }
    nav a:link{
        outline: none;
        color: black;
        text-decoration: none;
    }
    nav a:visited{
        outline: none;
        color: black;
        text-decoration: none;
    }
    nav a:hover{
        outline: none;
        color: black;
        text-decoration: underline;
        font-weight: bold;
        background-color: lightgray;
        border-radius: 5px;  
    }
    
    
    table{
        font-size: 10px;
        display: table;
        margin-left: 0px;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        min-width: fit-content;
        border-collapse: collapse;
    }
    table td{
        padding:5px;
        text-align: center;
        
    }
    
    table th{
        background-color: aquamarine;
    }
}