h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    display: block;
    text-align: center;
    color:blue;
    text-decoration: underline black;
    margin-bottom: auto;
    border: solid 2px;
    border-color: black;
    background-color: #ffff00;
    margin-top: auto;
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 2px;
}
nav a:link{
    outline: none;
    color: black;
    text-decoration: none;
}
nav a:visited{
    outline: none;
    color: black;
    text-decoration: none;
}
nav a:hover{
    outline: none;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    background-color: lightgray;
    border-radius: 5px;    
}